.col-1{
    float:left;
    width:8.33%;
}
.col-2{
    float:left;
    width:16.66%;
}
.col-3{
    float:left;
    width:25%;
}
.col-4{
    float:left;
    width:33.33%;
}
.col-5{
    float: left;
    width:  41.66%;
}
.col-6{
    float: left;
    width:  50%;
}
.row:after{
 content: "";
 display: table;
 clear:both;
 margin-top: 10px;
 margin-bottom: 10px;
}
.maincontainer{
    margin:30px;
    border: thin solid rgba(156, 14, 14, 0)
}
.navcontainer{
    background-color: #ecdac1;
    height: 15px;
    padding: 20px;
    margin:25px;
}
.nav-bar{
    padding:15px;
    text-decoration: none;
    color: #000000;
}
a:link{
    color:#000000;

}
a:visited{
    color:#33bb33;
    
}
a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    background-color: rgb(108, 103, 131);
  }
  .content_text{
      margin-left:30%;
      font-size: 20px;
  }
  .content_image{
      margin-left: 28px;
      height: 300px;
      width: auto;
  }
  .advertisement_image{
      height:auto;
      width:auto;
  }
  .imp_content{
      text-shadow: steelblue;
      color: tomato;
      padding: 20px;
  }